<div class="col-span-3">
    <div class="px-4 py-3 shadow flex items-center gap-4">
        <div class="flex-shrink-0">
            <img src="/images/icon.png" alt="Profile pic" class="rounded-full w-14 h-14 border border-gray-300 p-1 object-cover">
        </div>
        <div class="flex-grow">
            <p class="text-gray-600">Hello,</p>
            <h4 class="text-gray-800 font-medium">Lolo Manson</h4>
        </div>
    </div>

    <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
        <div class="space-y-1 pl-8">
            <a href="#" class="relative text-primary block font-medium capitalize">
                <span class="absolute -left-8 top-0 text-base"><i class="far fa-address-card"></i></span>Manage Account
            </a>
            <a href="#" class="relative hover:text-primary block capitalize transition">Profile Info</a>
            <a href="#" class="relative hover:text-primary block capitalize transition">Manage Address</a>
            <a href="#" class="relative hover:text-primary block capitalize transition">Change Password</a>
        </div>
        <div class="space-y-1 pl-8 pt-4">
            <a href="#" class="relative hover:text-primary block font-medium capitalize">
                <span class="absolute -left-8 top-0 text-base"><i class="far fa-address-card"></i></span>My Order History
            </a>
            <a href="#" class="relative hover:text-primary block capitalize transition">My Returns</a>
            <a href="#" class="relative hover:text-primary block capitalize transition">My Cancellations</a>
            <a href="#" class="relative hover:text-primary block capitalize transition">My Reviews</a>
        </div>
        <div class="space-y-1 pl-8 pt-4">
            <a href="#" class="relative hover:text-primary block font-medium capitalize">
                <span class="absolute -left-8 top-0 text-base"><i class="far fa-address-card"></i></span>Payment Methods
            </a>
            <a href="#" class="relative hover:text-primary block capitalize transition">Voucher</a>
        </div>
        <div class="space-y-1 pl-8 pt-4">
            <a href="#" class="relative hover:text-primary block font-medium capitalize">
                <span class="absolute -left-8 top-0 text-base"><i class="far fa-address-card"></i></span>My Wishlist
            </a>
        </div>
        <div class="space-y-1 pl-8 pt-4">
            <a href="#" class="relative hover:text-primary block font-medium capitalize">
                <span class="absolute -left-8 top-0 text-base"><i class="far fa-address-card"></i></span>Logout
            </a>
        </div>
    </div>
</div>