<footer class="bg-gray-200 pt-16 pb-20 border-t border-gray-100">
    <div class="container">
        <div class="space-y-8">
            <div class="flex justify-center">
                <img src="/images/icon.png" class="w-12" alt="Logo">
            </div>
            <p class="text-gray-500 text-center">
                Easy buy and sell guitars and accessories!
            </p>
            <div class="flex space-x-6 text-3xl justify-center">
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>

    </div>
</footer>

<div class="bg-gray-800 py-4">
    <div class="container">
        <p class="text-white text-center">© 2021 | Roberto Villanueva | All Rights Reserved</p>
    </div>
</div>

</body>

</html>