<header class="py-4 shadow-sm bg-white">
    <div class="container flex items-center justify-between ">
        <!--Logo-->
        <a href="/">
            <img src="/images/icon.png" class="w-12" alt="Logo">
        </a>

        <!--Search bar-->
        <form action="/shop-search" class="w-full max-w-xl relative hidden lg:flex">
            <span class="absolute left-4 top-3 text-lg text-gray-400">
                <i class="fas fa-search"></i>
            </span>
            <input name="search" type="text" class="w-full border border-primary border-r-0 pl-12 py-3 rounded-l-md focus:outline-none" placeholder="Search">
            <button type="submit" class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition">Search</button>
        </form>

        <!--wishlist, cart, account icons-->
        <div class="flex items-center space-x-4">
            <% if (isAuthenticated) { %> 
            <a href="/wishlist" class="text-center text-gray-700 hover:text-primary transition relative">
                <div class="text-2xl">
                    <i class='fas fa-heart'></i>
                </div>
                <div class="text-xs leading-3">Wish List</div>
                <% if (wishlistItems > 0) { %> 
                <span class="absolute right-0 top-1 w-5 rounded-full flex items-center justify-center bg-primary text-white text-xs"><%= wishlistItems %></span>
                <% } %> 
            </a>
            <a href="/cart" class="text-center text-gray-700 hover:text-primary transition relative">
                <div class="text-2xl">
                    <i class='fas fa-shopping-cart'></i>
                </div>
                <div class="text-xs leading-3">Cart</div>
                <% if (cartItems > 0) { %> 
                <span class="absolute -right-3 top-1 w-5 rounded-full flex items-center justify-center bg-primary text-white text-xs"><%= cartItems %></span>
                <% } %> 
            </a>
            <% } else { %>
            <style>
                /* Tooltip container */
                .tooltip {
                    position: relative;
                    display: inline-block;
                }
                
                /* Tooltip text */
                .tooltip .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: rgba(0, 0, 0, .8);
                    color: #fff;
                    text-align: center;
                    padding: 10px;
                    border-radius: 6px;
                    left: 50%;
                    margin-left: -55px;
                    top: 105%;
                    
                    /* Position the tooltip text - see examples below! */
                    position: absolute;
                    z-index: 1;
                }
                
                /* Show the tooltip text when you mouse over the tooltip container */
                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }
            </style>
            <div class="tooltip text-center text-gray-500">
                <span class="tooltiptext">Login to add items to your wishlist</span>
                <div class="text-2xl">
                    <i class='fas fa-heart'></i>
                </div>
                <div class="text-xs leading-3">Wish List</div>
            </div>
            <div class="tooltip text-center text-gray-500">
                <span class="tooltiptext">Login to add items to your cart</span>
                <div class="text-2xl">
                    <i class='fas fa-shopping-cart'></i>
                </div>
                <div class="text-xs leading-3">Cart</div>
            </div>
            <% } %> 
            <a href="<% if (isAuthenticated) { %>/account<% } else { %>/login<% } %>" class="text-center text-gray-700 hover:text-primary transition relative">
                <div class="text-2xl">
                    <i class='fas fa-user'></i>
                </div>
                <div class="text-xs leading-3"><% if (isAuthenticated) { %>My Account<% } else { %>Login/Signup<% } %></div>
            </a>
        </div>
    </div>
    <!--Search bar small screens-->
    <div class="container">
        <form action="/shop-search" class="w-full relative lg:hidden flex pt-4">
            <span class="absolute left-4 top-7 text-lg text-gray-400">
                <i class="fas fa-search"></i>
            </span>
            <input name="search" type="text" class="w-full border border-primary border-r-0 pl-12 py-3 rounded-l-md focus:outline-none" placeholder="Search">
            <button type="submit" class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition">Search</button>
        </form>
    </div>
</header>