<nav class="bg-gray-800 text-white">
    <div class="container mx-auto flex justify-center md:justify-between py-3">
        <div class="flex">
            <!--Primary menu-->
            <div class="hidden md:flex items-center">
                <a class="mr-5" href="/">Home</a>
                <a class="mr-5" href="/shop">Shop</a>
                <a class="mr-5" href="/contact-us">Contact</a>
            </div>
        </div>
        <!--Secondary menu-->
        <div class="hidden md:flex items-center">
            <a class="ml-5" href="/shop-filter?category=Electric">Electric</a>
            <a class="ml-5" href="/shop-filter?category=Acoustic">Acustic</a>
            <a class="ml-5" href="/shop-filter?category=Electroacoustic">EA</a>
            <a class="ml-5" href="/shop-filter?category=Bass">Bass</a>
            <a class="ml-5" href="/shop-filter?category=Accessory">Accesories</a>
        </div>

        <!--mobile button-->
        <div class="md:hidden flex items-center">
            <button id="btn">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        </div>
    </div>
    <!--Mobile menu-->
    <div class="hidden md:hidden container" id="mobile-menu">
        <a class="text-center block py-2" href="/">Home</a>
        <a class="text-center block py-2" href="/shop">Shop</a>
        <a class="text-center block py-2" href="/contact-us">Contact</a>
        <p class="text-center mt-2 text-gray-500">Categories:</p>
        <a class="text-center block py-2" href="/shop-filter?category=Electric">Electric</a>
        <a class="text-center block py-2" href="/shop-filter?category=Acoustic">Acustic</a>
        <a class="text-center block pt-2 pb-4" href="/shop-filter?category=Electroacoustic">EA</a>
        <a class="text-center block pt-2 pb-4" href="/shop-filter?category=Bass">Bass</a>
        <a class="text-center block pt-2 pb-4" href="/shop-filter?category=Accessory">Accesories</a>
    </div>
    <script>
        // toggle button for small screens
        const btn = document.getElementById("btn");
        const menu = document.getElementById("mobile-menu");
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</nav>